[database]
database_url = "mysql://ccgbotrust@127.0.0.1:3306/ccgbot_rust"

[discord]
guildid = "12345678910111213"
token = "AbcDEFGhJkl0MnO1PQRsTUvx.Abcdef.AbCDefgHiJkLMNOpqrSTU0vWXy1"

[twitch]
channels = ["Twitch", "TwitchRivals"]
client_id = "IamAclientId"
client_secret = "IamAclientSecret"
bot_name = "TestUser" # The name fallback name for the Bot.
redirect_url = "http://localhost:3000/auth/twitch/callback"
